*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --logo-part-two-color: #000000;
  --footer-background-color: #2f303a;
  --button-background: #f5f4fa;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--title-color);
}

.container {
  width: 1200px;
}

.header > .container {
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  margin: 24px 93px 25px 15px;
  border: 0px;
}

.logo-part-one,
.logo-part-one-footer,
.logo-part-two {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-part-two.difference {
  color: var(--logo-part-two-color);
}

/* nav */

.nav {
  display: inline-block;
  display: flex;
  padding: 0px;
}
.site-nav {
  display: inline-block;
  display: flex;
  margin: 32px 331px 32px 0px;
  padding: 0px;
  border: 0px;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.adress-container {
  display: inline-block;
  display: flex;
  margin: 32px 15px 32px 0px;
  padding: 0px;
}

.adress-container > .adress:not(:last-child) {
  margin-right: 50px;
  padding: 0px;
}

.site-nav .nav-link.current {
  color: var(--title-color);
}

.nav-link,
.adress {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.adress.difference {
  color: var(--main-text-color);
}
.adress:hover,
.adress:focus {
  color: var(--accent-color);
}
/* hero */

.hero {
  margin-top: 0px;
  height: 600px;
  background-color: var(--footer-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* button */

.button {
  display: inline-block;
  display: flex;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  font: inherit;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

.advantages-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  line-height: 1.72;
  color: var(--main-text-color);
}

/* what we do */

.features-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16px;
  text-align: center;
}

/* team */

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);
}

/* footer */

.footer {
  background-color: var(--footer-background-color);
}

.logo-part-one-footer,
.logo-part-two-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-part-two-footer.difference {
  color: var(--white-color);
}

.adress-footer,
.contacts-footer {
  line-height: 1.71;
  font-style: inherit;
  color: var(--white-color);
}

.contacts-footer.difference {
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio page */

.buttons-container {
  display: flex;
}

.buttons {
  display: inline-block;
  display: flex;
  font: inherit;
  margin-left: auto;
  margin-right: auto;
}

.button-portfolio {
  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
  text-align: center;
  background-color: var(--button-background);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.buttons > .button-portfolio:not(:last-child) {
  margin-right: 8px;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--main-text-color);
}
