*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white-color: #ffffff;
  --title-color: #212121;
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --logo-part-two-color: #000000;
  --footer-background-color: #2f303a;
  --button-background: #f5f4fa;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--white-color);
  color: var(--title-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header > .container {
  display: flex;
  align-items: center;
}

/* logo */

.logo {
  margin: 24px 93px 25px 0px;
  border: 0px;
}

.logo-part-one,
.logo-part-one-footer,
.logo-part-two {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-part-two.difference {
  color: var(--logo-part-two-color);
}

/* nav */

.nav {
  display: inline-block;
  display: flex;
  padding: 0px;
}
.site-nav {
  display: inline-block;
  display: flex;
  margin: 32px 331px 32px 0px;
  padding: 0px;
  border: 0px;
}

.site-nav > .item:not(:last-child) {
  margin-right: 50px;
}

.adress-container {
  display: inline-block;
  display: flex;
  margin: 32px 0px 32px 0px;
  padding: 0px;
}

.adress-container > .adress:not(:last-child) {
  margin-right: 50px;
  padding: 0px;
}

.site-nav .nav-link.current {
  color: var(--title-color);
}

.nav-link,
.adress {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.adress.difference {
  color: var(--main-text-color);
}
.adress:hover,
.adress:focus {
  color: var(--accent-color);
}
/* hero */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  background-color: var(--footer-background-color);
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: 250px;
  margin-right: 250px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/* button */

.button {
  display: inline-block;
  display: flex;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  font: inherit;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* advantages */
/* .h2,
.h1 {
  margin: 0px;
  padding: 0px;
} */

.visually-hidden {
  position: absolute;
  clip: rect (0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.advantages {
  display: inline-block;
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 90px;
  margin-bottom: 94px;
  padding: 0px;
}

.advantages > .item:not(:last-child) {
  margin-right: 30px;
}

.advantages-title {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.advantages-text {
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.72;
  color: var(--main-text-color);
}

/* what we do */

.features-title {
  margin-top: 94px;
  margin-bottom: 50px;
}

.features-list {
  display: inline-block;
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 94px;
}

.features-list > .features-photos:not(:last-child) {
  margin-right: 30px;
}

.features-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16px;
  text-align: center;
}

/* team */

.team-title {
  margin-top: 0px;
  margin-bottom: 50px;
}

.team-list {
  display: inline-block;
  display: flex;
  margin-top: 0px;
  margin-bottom: 94px;
}

.team-list > .team-photos:not(:last-child) {
  margin-right: 30px;
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-text-color);
}

/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.logo-footer {
  margin: 60px 0px 0px 0px;
  padding: 0px;
}

.logo-part-one-footer,
.logo-part-two-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-part-two-footer.difference {
  color: var(--white-color);
}

.adress-footer {
  margin: 20px 0px 0px 0px;
  padding: 0px;
}

.footer-list {
  padding: 0px;
  margin-top: 9px;
  margin-bottom: 0px;
}

.adress-footer,
.contacts-footer {
  line-height: 1.71;
  font-style: inherit;
  color: var(--white-color);
}

.adress-bottom {
  margin: 0px 0px 9px 0px;
  padding: 0px;
}

.adress-bottom:last-child {
  margin-bottom: 0px;
}

.contacts-footer.difference {
  color: rgba(255, 255, 255, 0.6);
}

/* portfolio page */

.header-portfolio {
  border-bottom: 1px solid;
  color: #ececec;
}

.buttons-container {
  display: flex;
  margin-top: 94px;
  margin-bottom: 34px;
}

.buttons > .item:not(:last-child) {
  margin-right: 8px;
}

.buttons {
  display: inline-block;
  display: flex;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

.button-portfolio {
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  font: inherit;
  line-height: 1.7;
  text-align: center;
  background-color: var(--button-background);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.06em;
}

.portfolio-photos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
  text-align: center;
  color: var(--main-text-color);
}
